.book-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 20px;
  transition: transform 0.2s;
}

.book-cover {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.book-info {
  flex: 1;
  padding: 20px;
}

.book-title {
  margin-top: 0;
  font-size: 1.5em;
}

.book-author,
.book-publisher,
.book-summary {
  margin: 10px 0;
  color: #555;
}

.read-more-button {
  background-color: #ff6347;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 20px 0 0;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #e5533d;
}

@media (max-width: 768px) {
  .book-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .book-cover {
    width: 100%;
    height: auto;
  }

  .book-info {
    padding: 10px;
  }

  .read-more-button {
    margin: 20px 0 0 0;
    width: 100%;
    text-align: center;
  }
}
